<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="theme-color" media="(prefers-color-scheme: light)" content="#6898f8" />
    <meta name="theme-color" media="(prefers-color-scheme: dark)" content="#0f0f0f" />
    <title>پنل ادمین - فیلم و سریال</title>


    <link rel="icon" href="assest/logo/film.ico" /> <!-- Favicon -->
    <!-- fontawesome -->
    <link rel="icon" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta2/css/all.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" />

    <!-- css -->
    <link rel="stylesheet" href="css/main.css" />

    <!-- google fonts -->
    <link href="https://fonts.googleapis.com/css2?family=Cabin:wght@700&display=swap" rel="stylesheet" />
</head>

<body class="panel">
    <section class="panel-form-container">
        <div class="panel-form-inner">
            <div class="panel-form-control animation">
                <div class="form-logo">
                    <img loading="lazy" src="assest/logo/mobile-navigation-icon.svg" alt="">
                </div>

                <h1>ورود به پنل </h1>
                <form id="user-login" name="user-login" action="#" class="panel-form">
                    <div class="form-control">
                        <input type="text" required="required" id="userid-input" name="userid-input">
                        <label class="form-legend" for="userid-input">نام کاربری</label>
                    </div>
                    <div class="form-control">
                        <input type="password" required="required" id="userpsw-input" name="userpsw-input">
                        <label class="form-legend" for="userpsw-input">رمز عبور</label>
                        <i class="view-password fa fa-eye"></i>
                    </div>
                    <button class="submit-authentication" type="submit" id="submit-auth">ورود</button>
                </form>


                <div class="auth-link form-control">
                    <label class="custom-radio-button remember-me-inner" for="remember-me">
                        <p>مرا به خاطر بسپار</p>
                        <input type="checkbox" name="remember-me" id="remember-me" value="remember me">
                        <span class="post-type-radio"></span>
                    </label>
                </div>

                <div class="auth-link form-control">
                    <a class="forgot-password" href="forgot-password.html">رمز خود را فراموش کرده اید؟</a>
                </div>

                <div class="beam"></div>
            </div>

            <div class="panel-form-img animation">
                <img loading="lazy" id="panel-thumb" src="assest/images/icons/Mobile login-bro.svg" alt="">
            </div>
        </div>
        <div class="sending-animation">
            <?xml version="1.0" encoding="utf-8"?>
            <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" shape-rendering: auto;
                height="200px" viewBox="0 0 100 100" preserveAspectRatio="xMidYMid">
                <path fill="none" stroke="#5facfa" stroke-width="8"
                    stroke-dasharray="42.76482137044271 42.76482137044271"
                    d="M24.3 30C11.4 30 5 43.3 5 50s6.4 20 19.3 20c19.3 0 32.1-40 51.4-40 C88.6 30 95 43.3 95 50s-6.4 20-19.3 20C56.4 70 43.6 30 24.3 30z"
                    stroke-linecap="round" style="transform:scale(0.8);transform-origin:50px 50px">
                    <animate attributeName="stroke-dashoffset" repeatCount="indefinite" dur="1s" keyTimes="0;1"
                        values="0;256.58892822265625"></animate>
                </path>
            </svg>
        </div>
    </section>

    <!-- scripts -->
    <script src="js/panel-auth.js"></script>
</body>

</html>