{% load static %}
<!DOCTYPE html>
<html lang="en" dir="rtl">

<head>
    <!-- REQUIRE META -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- TEMPLATE META -->
    <meta name="name" content="Greeny">
    <meta name="title" content="Greeny - eCommerce HTML Template">
    <meta name="keywords"
          content="organic, food, shop, ecommerce, store, html, bootstrap, template, agriculture, vegetables, webshop, farm, grocery, natural, online store">

    <!-- WEBPAGE TITLE -->
    <title>Index Home - Greeny</title>

    <!-- FAVICON -->
    <link rel="icon" href="{{ media_url }}images/favicon.png">

    <!-- FONTS -->
    <link rel="stylesheet" href="{% static 'fonts/flaticon/flaticon.css' %}">
    <link rel="stylesheet" href="{% static 'fonts/icofont/icofont.min.css' %}">
    <link rel="stylesheet" href="{% static 'fonts/fontawesome/fontawesome.min.css' %}">

    <!-- VENDOR -->
    <link rel="stylesheet" href="{% static 'vendor/venobox/venobox.min.css' %}">
    <link rel="stylesheet" href="{% static 'vendor/slickslider/slick.min.css' %}">
    <link rel="stylesheet" href="{% static 'vendor/niceselect/nice-select.min.css' %}">
    <link rel="stylesheet" href="{% static 'vendor/bootstrap/bootstrap.min.css' %}">

    <!-- CUSTOM -->
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
    <link rel="stylesheet" href="{% static 'css/index.css' %}">
    <!--=====================================
                    CSS LINK PART END
        =======================================-->
</head>
<body>
<section class="section recent-part">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="section-heading">
                    <h2>محصولات مرتبط با سرچ شما</h2>
                </div>
            </div>
        </div>
        <div class="row row-cols-2 row-cols-md-3 row-cols-lg-4 row-cols-xl-5">
            {% for result in results %}
                <div class="col">
                    <div class="product-card">
                        <div class="product-media">
                            <div class="product-label">
                                <label class="label-text sale">جست و جو</label>
                            </div>
                            
                            <a class="product-image" href="{% url 'blog:product-detail' result.id %}">
                                <img src="{{ result.image.url }}" alt="product">
                            </a>
                            <div class="product-widget">
                                
                                <a title="Product View" href="{% url 'blog:product-detail' result.id %}" class="fas fa-eye" data-bs-toggle="modal"
                                   data-bs-target="#product-view"></a>
                            </div>
                        </div>
                        <div class="product-content">
                            <h6 class="product-name">
                                <a href="{% url 'blog:product-detail' result.id %}">{{ result.title }}</a>
                            </h6>
                            <h6 class="product-price">
                                
                                <span>{{ result.price }} ريال<small>/کیلو</small></span>
                            </h6>

                            
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
       
    </div>
</section>
<script src="{% static 'vendor/bootstrap/jquery-1.12.4.min.js' %}"></script>
<script src="{% static 'vendor/bootstrap/popper.min.js' %}"></script>
<script src="{% static 'vendor/bootstrap/bootstrap.min.js' %}"></script>
<script src="{% static 'vendor/countdown/countdown.min.js' %}"></script>
<script src="{% static 'vendor/niceselect/nice-select.min.js' %}"></script>
<script src="{% static 'vendor/slickslider/slick.min.js' %}"></script>
<script src="{% static 'vendor/venobox/venobox.min.js' %}"></script>

<!-- CUSTOM -->
<script src="{% static 'js/nice-select.js' %}"></script>
<script src="{% static 'js/countdown.js' %}"></script>
<script src="{% static 'js/accordion.js' %}"></script>
<script src="{% static 'js/venobox.js' %}"></script>
<script src="{% static 'js/slick.js' %}"></script>
<script src="{% static 'js/main.js' %}"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script>
    function addProductToOrder(productId) {
        const productCount = $('#product-count').val();
        $.get('/orders?product_id=' + productId + '&count=' + productCount).then(res => {
            if (res.status === 'success') {
                Swal.fire({
                    title: "Success",
                    text: "محصول با موفقیت به سبد خرید اضافه شد",
                    icon: "success"
                });
            }
            if (res.status === 'invalid_count') {
                Swal.fire({
                    title: "خطا",
                    text: "تعداد محصول وارد شده نامعتبر است",
                    icon: "error"
                });
            }
            if (res.status === 'not_found') {
                Swal.fire({
                    title: "خطا",
                    text: "محصول مورد نظر یافت نشد",
                    icon: "error"
                });
            }
            if (res.status === 'not_authenticated') {
                Swal.fire({
                    title: "خطا",
                    text: "ابتدا باید ثبت نام کنید و وارد سایت شوید",
                    icon: "error"
                });
            }
        })
    }
</script>
<!--=====================================
                JS LINK PART END
    =======================================-->
</body>

</html>
